@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";
@tailwind utilities;
html{
  scroll-behavior: smooth;
}
body{
     font-family: "Roboto", sans-serif;
     color: black;
     overflow-x: hidden;
}
.padding{
  @apply px-4 sm:px-8 md:px-12 lg:px-20 xl:px-28 2xl:px-36;
}
.buttonOne{
  @apply bg-gray-300 hover:bg-pink-500/60 text-gray-950 hover:text-white backdrop-blur-sm
}
.buttonTwo{
  @apply bg-green-300/50 hover:bg-blue-500/30 text-black   backdrop-blur-sm
}
.social{
  @apply hover:scale-120 transition transform duration-300
}
.section{
  @apply bg-green-300/30 shadow-lg shadow-white rounded-md px-5 pt-30 pb-20 min-h-screen
}
.skillCard{
  @apply flex flex-col items-center bg-gradient-to-br from-pink-500/80 to-blue-600/80 text-white p-4 rounded-md shadow-lg shadow-gray-400
}
.contactCss {
  @apply relative border border-purple-600 p-2 rounded-md
         flex items-center gap-2
         hover:bg-purple-400 hover:text-white 
         hover:scale-105 transition-all duration-300 ;
}
.navLinks{
  @apply bg-green-300/30 hover:bg-pink-500/60 text-black hover:text-white mr-2 font-semibold rounded-md border border-gray-500/50 transition-all duration-200
}
.socialLinks{
  @apply flex items-center gap-2 duration-200 hover:scale-105 transition-all  p-2 rounded-md bg-gray-300/50
}
#linkedin:hover{@apply bg-blue-700 text-white border-none}
#github:hover{@apply bg-gray-800 text-white border-none}
#twitter:hover{@apply bg-sky-500 text-white border-none}
.section::before {
  content: "";
  position: absolute;
  inset: -10px;
  background: linear-gradient(
    45deg,
    rgba(255, 170, 255, 0.1),
    rgba(170, 255, 255, 0.1),
    rgba(255, 170, 255, 0.1)
  );
  filter: blur(30px);
  z-index: -1;
  animation: glowMove 6s linear infinite;
}

@keyframes glowMove {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

